[BUG] Email slurp renders all alternatives instead of just picking one

### Description

When an email with a `multipart/alternative` MIME branch is slurped up by PNGX, all parts are rendered, when in fact, they all contain the same information.

[RFC 2046, section 5.1.4](https://datatracker.ietf.org/doc/html/rfc2046#section-5.1.4) states:

> Systems should recognize that the content of the various parts are
> interchangeable.  Systems should choose the "best" type based on the
> local environment and references, in some cases even through user
> interaction. 

### Steps to reproduce

1. Compose a `multipart/alternative` mail
2. Get it slurped up by PNGX
3. Observe how the result is the `text/html` part concatenated to the `text/plain` part, with the email text duplicated, and the poorer type rendered first.

### Webserver logs

```bash
n/a
```

### Browser logs

```bash

```

### Paperless-ngx version

2.13.5

### Host OS

Debian

### Installation method

Docker - official image

### System status

```json
{
    "pngx_version": "2.13.5",
    "server_os": "Linux-6.1.0-26-amd64-x86_64-with-glibc2.36",
    "install_type": "docker",
    "storage": {
        "total": 160980459520,
        "available": 133011296256
    },
    "database": {
        "type": "postgresql",
        "url": "paperless",
        "status": "OK",
        "error": null,
        "migration_status": {
            "latest_migration": "paperless_mail.0011_remove_mailrule_assign_tag_squashed_0024_alter_mailrule_name_and_more",
            "unapplied_migrations": []
        }
    },
    "tasks": {
        "redis_url": "redis://broker:6379",
        "redis_status": "OK",
        "redis_error": null,
        "celery_status": "OK",
        "index_status": "OK",
        "index_last_modified": "2025-03-18T15:00:28.930579+01:00",
        "index_error": null,
        "classifier_status": "OK",
        "classifier_last_trained": "2025-03-18T14:05:22.015761Z",
        "classifier_error": null
    }
}
```

### Browser

Firefox

### Configuration changes

_No response_

### Please confirm the following

- [x] I believe this issue is a bug that affects all users of Paperless-ngx, not something specific to my installation.
- [x] This issue is not about the OCR or archive creation of a specific file(s). Otherwise, please see above regarding OCR tools.
- [x] I have already searched for relevant existing issues and discussions before opening this report.
- [x] I have updated the title field above with a concise description.

It has worked this way for a long time, its not an email but a PDF created from one.

Also https://github.com/paperless-ngx/paperless-ngx/pull/8907

> It has worked this way for a long time, its not an email but a PDF created from one.

Thanks for your reply. When Thunderbird displays an email, it's also not an email, but a rendering on the screen. I can see your point though, and it hardly matters that the information is duplicated, if it is in fact even completely identical in all parts. It probably never is.

> Also [#8907](https://github.com/paperless-ngx/paperless-ngx/pull/8907)

This is promising. Thank you. This would indeed solve the problem for us, at least once I figure out why all ligatures are simply skipped right now.

